.App {
  justify-content: unset;
  align-items: center;
  overflow-x: scroll;
}

.admin-page-container {
  margin: 0 auto;
  min-width: 50%;
}

@media only screen and (max-width: 900px) {
  .admin-page-container {
    min-width: 100%;
  }
}

.admin-page-nav-container {
  display: flex;
  flex-direction: row;
  align-items: center
}

.tab-manager-container {
  display: flex;
  flex-direction: row;
  justify-content: start;
  margin: 15px;
  background: #fff;
  opacity: 0.95;
  border-radius: 21px;
  padding: 10px;
}

.tab {
  padding: 10px;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
}

.tab:hover {
  color: rgb(179, 120, 46);
}

.tab-active {
  color: rgb(179, 120, 46);
}

.admin-page {
  background: #fff;
  opacity: 0.95;
  border-radius: 21px;
  padding: 20px;
  margin: 15px;
}

.add-its-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  margin-bottom: 20px;
}

.add-its-element {
  margin-right: 10px;
}

.its-input {
  position: relative;
}

.its-input-text {
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.its-input-dropdown {
  position: absolute;
  width: 100%;
  list-style-type: none;
  padding: 0;
  background: lightgray;
  overflow-y: scroll;
  max-height: 300px;
  z-index: 99;
  margin: 0;
}

.its-input-dropdown-entry {
  text-align: left;
  border-bottom: 1px solid gray;
  padding: 5px;
  font-size: 1em;
  cursor: pointer;
}

.its-input-dropdown-entry:last-child {
  border-bottom: none;
}

.its-input-dropdown-entry:hover {
  background: lightblue;
}

table, th, td {
  border: 1px solid black;
}

.data-table {
  width: 100%;
}

.back-button {
  width: 160px;
  height: 45px;
  border-radius: 21px;
  padding-left: 10px;
  font-size: 15px;
  margin-right: auto;
  margin-left: auto;
  border: solid 1px #0e4653;
  border-bottom: solid 5px #0e4653;
  transition: all .5s ease-in;
  cursor: pointer;
}


.pa-p-10 {
  padding: 10px;
}

.pa-px-10 {
  padding-left: 10px;
  padding-right: 10px;
}

.pa-py-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.pa-pr-10 {
  padding-right: 10px;
}

.pa-pl-10 {
  padding-left: 10px;
}

.pa-pt-10 {
  padding-top: 10px;
}

.pa-pb-10 {
  padding-bottom: 10px;
}

.pa-mt-10 {
  margin-top: 10px;
}

.pa-left {
  text-align: left;
}
